@import "../bootstrap-sass/assets/stylesheets/bootstrap";
body{
    font-family: 'Lato', sans-serif;
}

img{
    max-width: 100%;
}
a:hover,
a:active{
    text-decoration: none;
}

.ico{
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    outline: none;
    background:url(../img/sprite.png) no-repeat;
    &.ico-us{
        width: 21px;
        height: 15px;
        background-position: -149px 0;
        margin-right: 10px;
    }
    &.ico-hk{
        width: 21px;
        height: 15px;
        background-position: -128px 0;
        margin-right: 10px;
    }
}

.cover-bg{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar{
    opacity: 1;
    background: rgba(30,30,30,0.90);

    .container{
        position:relative;
        min-height: 110px;
    }
    .dropdown-language{
        float: left;
    }
    .zero-menu-items{
        float: right;
        font-size: 12px;
        padding:8px 0;
        margin-bottom: 20px;
        li{
            padding:0 15px;
            &:last-child{
                padding-right:0;
            }
        }
    }
    .navbar-header{
        float: none;
        position:absolute;
        left: 0;
        bottom:0;
        .navbar-brand{
            margin:0;
            float:none;
            display: block;
            height: auto;
            padding:0;
        }
    }
    .nav{
        font-size: 14px;
        .btn-primary{
            color: #fff;
        }
        .btn{
            font-size: 14px;
            padding:8px 15px;
            text-transform: uppercase;
            margin-right: 10px;
            position:relative;
            bottom:-4px;
            border-width:2px;
        }
        li:last-child .btn{
            margin-right: 0;
        }
        li > a{
            color: #fff;
            text-transform:uppercase;
            &:hover,
            &:active{
                opacity: .8;
            }
        }
    }
}

.dropdown-language{
    .btn{
        font-size: 12px;
        padding-left:0;
        background:none;
        color: lighten($gray-base, 40%);
        .glyphicon{
            margin-left: 5px;
            font-size: 10px;
        }
    }
    .dropdown-menu{
        font-size: 12px;
        background: lighten(#000000, 20%);
        padding:0;
        box-shadow:none;
        border:none;
        border-radius:0;
        & > li > a{
            padding:5px 12px;
            color: lighten($gray-base, 40%);
            &:hover,
            &:focus{
                background: lighten(#000000, 10%);
            }
        }
    }
}

.zero-menu-items{
    ul{
        margin:0;
        padding:0;
        list-style-type: none;
    }
    li{
        display: inline-block;
    }
    a{
        opacity: 0.4;
        font-family: Lato-Bold;
        font-size: 12px;
        color: #FFFFFF;
        &:hover,
        &:active,
        &:focus{
            text-decoration: none;
            opacity: .8;
        }
    }
}

.head-banner{
    height: 590px;
    background-image: url(../img/hero.jpg);
    
    .container{
        padding-top: 165px;
    }
    h1{
        font-weight: normal;
        font-size: 50px;
        color: #FFFFFF;
        line-height: 60px;
        text-shadow: 0px 2px 4px rgba(0,0,0,0.40);
        margin:0 0 30px 0;
    }
    .btn{
        padding:16px 60px;
        font-size: 18px;
        background-image: linear-gradient(-180deg, #42C0E9 0%, #2CA2DE 100%);
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
        border-radius: 6px;
        &:hover,
        &:active{
            background:$brand-primary;
        }
    }
}
section.block{
    padding: 60px 0;
    line-height: 1.7;
    h1{
        font-size: 36px;
        color: #333333;
        line-height: 48px;
        margin:0 0 30px;
    }
    h2{
        font-size: 30px;
        color: #333333;
        line-height: 36px;
        margin:0 0 20px 0;
    }
    p{
        margin: 0 0 30px 0;
    }
}
.block.goal-block{
    padding:60px 0 228px;
    font-size: 18px;
}
.block.gray-block{
    background: #F6F7F9;
    min-height: 496px;
    .pull-up-section{        
        position: relative;
        margin-top:-320px;
        margin-bottom: 40px;
        .pull-up{
            // position:absolute;
            // top:-320px;
        }
    }
}
.block.product-feature-block{
    font-size: 18px;
    padding-top:185px;
    .video{
        position:relative;
    }
    .btn-watch{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 20px;
    }
    .btn-play{
        width: 43px;
        height: 43px;
        background:#000;
        color: #fff;
        display: inline-block;
        line-height: 43px;
        text-align: center;
        border-radius:43px;
        .glyphicon{
            margin-left: 4px;
        }
    }
}

.business-types{
    list-style-type: none;
    margin:0;
    padding:0;
}
.crm-block{
    min-height: 360px;
    background-image: url(../img/gift-cards-header-bg.jpg);

    .left-content{
        color: lighten(#333333, 20%);
        padding-top:120px;
    }

}
.analytics-block{
    min-height: 370px;
    background-image: url(../img/dashboard.jpg);
    color:#fff;
    h2{
        color: #fff !important;
    }
    .left-content{
        padding-top:40px;
    }
}
.inventory-block{
    .right-content{
        padding-top:60px;
    }
}
.block.quote-block{
    font-size: 18px;
    h1{
        color: #000;
    }
    p{
        margin-bottom: 50px;
    }
    form{
        margin-bottom: 30px;
    }
    .form-group{
        margin-bottom: 10px;
    }
    .form-control{
        border-color: rgba(0,0,0,.2);
    }
    button[type="submit"]{
        font-size: 18px;
        padding: 17px 16px;
        margin-top: 20px;
    }
    .hotline{
        color: lighten(#000000, 60%);
        .glyphicon{
            font-size: 20px;
            margin-right: 5px;
        }
    }
}

.footer{
    background: #60707C;
}