@import "../bootstrap-sass/assets/stylesheets/bootstrap";
body{
    font-family: 'Lato', sans-serif;
}

.ico{
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    outline: none;
    background:url(../img/sprite.png) no-repeat;
    &.ico-us{
        width: 21px;
        height: 15px;
        background-position: -149px 0;
        margin-right: 10px;
    }
    &.ico-hk{
        width: 21px;
        height: 15px;
        background-position: -128px 0;
        margin-right: 10px;
    }
}

.navbar{
    opacity: 1;
    background: rgba(30,30,30,0.90);

    .container{
        position:relative;
        min-height: 110px;
    }
    .dropdown-language{
        float: left;
    }
    .zero-menu-items{
        float: right;
        font-size: 12px;
        padding:8px 0;
        margin-bottom: 20px;
        li{
            padding:0 15px;
            &:last-child{
                padding-right:0;
            }
        }
    }
    .navbar-header{
        float: none;
        position:absolute;
        left: 0;
        bottom:0;
        .navbar-brand{
            margin:0;
            float:none;
            display: block;
            height: auto;
            padding:0;
        }
    }
    .nav{
        font-size: 14px;
        .btn-primary{
            color: #fff;
        }
        .btn{
            font-size: 14px;
            padding:8px 15px;
            text-transform: uppercase;
            margin-right: 10px;
            position:relative;
            bottom:-4px;
            border-width:2px;
        }
        li:last-child .btn{
            margin-right: 0;
        }
        li > a{
            color: #fff;
            text-transform:uppercase;
            &:hover,
            &:active{
                opacity: .8;
            }
        }
    }
}

.dropdown-language{
    .btn{
        font-size: 12px;
        padding-left:0;
        background:none;
        color: lighten($gray-base, 40%);
        .glyphicon{
            margin-left: 5px;
            font-size: 10px;
        }
    }
    .dropdown-menu{
        font-size: 12px;
        background: lighten(#000000, 20%);
        padding:0;
        box-shadow:none;
        border:none;
        border-radius:0;
        & > li > a{
            padding:5px 12px;
            color: lighten($gray-base, 40%);
            &:hover,
            &:focus{
                background: lighten(#000000, 10%);
            }
        }
    }
}

.zero-menu-items{
    ul{
        margin:0;
        padding:0;
        list-style-type: none;
    }
    li{
        display: inline-block;
    }
    a{
        opacity: 0.4;
        font-family: Lato-Bold;
        font-size: 12px;
        color: #FFFFFF;
        &:hover,
        &:active,
        &:focus{
            text-decoration: none;
            opacity: .8;
        }
    }
}

.head-banner{
    height: 590px;
    background-image: url(../img/hero.jpg);
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    .container{
        padding-top: 165px;
    }
    h1{
        font-weight: normal;
        font-size: 50px;
        color: #FFFFFF;
        line-height: 60px;
        text-shadow: 0px 2px 4px rgba(0,0,0,0.40);
    }
}

.goal-block{
    padding:60px 0 228px;
}
.gray-block{
    background: #F6F7F9;
    min-height: 496px;
    .pull-up-section{        
        position: relative;
        .pull-up{
            position:absolute;
            top:-150px;
        }
    }
}
.product-feature-block{
    font-size: 18px;
}

.business-types{
    list-style-type: none;
    margin:0;
    padding:0;
}

.footer{
    background: #60707C;
}